<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.scss" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <div class="card">
        <div class="card-body">
          <div class="container mt-3">
            <div>
              <h2 class="font-effect-fire">
                MARY MATHA ARTS AND SCIENCE COLLEGE MANATHAVADY
              </h2>
            </div>
            <div><h3>Question Bank</h3></div>

            <form>
              <div class="row">
                <div class="col">
                  <div class="dropdown">
                    <select
                      name="Semester"
                      class="btn btn-success dropdown-toggle"
                      data-bs-toggle="dropdown"
                    >
                      <option value="#" selected>Select Department</option>
                      <option value="1">Bcs CS</option>
                      <option value="2">BCOM</option>
                      <option value="3">BCA</option>
                    </select>
                    <div class="dropdown">
                      <select name="Semester" class="btn btn-success dropdown-toggle"
                      data-bs-toggle="dropdown">
                        <option value="#" selected>Select Semester</option>
                        <option value="1" >1</option>
                        <option value="2">1</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="dropdown">
                    <select name="Semester" class="btn btn-success dropdown-toggle"
                    data-bs-toggle="dropdown">
                      <option value="#" selected>Select Course</option>
                      <option value="1" >Bsc Computer Science</option>
                      <option value="2">Bsc Chemistry</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                  <div class="dropdown">
                    <select name="Semester" class="btn btn-success dropdown-toggle"
                    data-bs-toggle="dropdown">
                      <option value="#" selected>Select UG/PG</option>
                      <option value="1" >UG</option>
                      <option value="2">PG</option>

                    </select>
                  </div>
                </div>
                <div class="d-grid">
                  <button
                    type="button"
                    class="btn btn-primary btn-block submit"
                  >
                    SUBMIT
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
